.DS_Store
.idea/
nbproject/
en/_build/doctrees/
en/_build/latex/Makefile
en/_build/latex/ZephirDocumentation.aux
en/_build/latex/ZephirDocumentation.idx
en/_build/latex/ZephirDocumentation.ilg
en/_build/latex/ZephirDocumentation.ind
en/_build/latex/ZephirDocumentation.log
en/_build/latex/ZephirDocumentation.out
en/_build/latex/ZephirDocumentation.tex
en/_build/latex/ZephirDocumentation.toc
en/_build/latex/fncychap.sty
en/_build/latex/info.png
en/_build/latex/missfont.log
en/_build/latex/python.ist
en/_build/latex/scheme.png
en/_build/latex/sphinx.sty
en/_build/latex/sphinxhowto.cls
en/_build/latex/sphinxmanual.cls
en/_build/latex/tabulary.sty
